@model List<Doctor>

@if (TempData.ContainsKey("Exeption"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["Exeption"]
    </div>
}

<form asp-action="SearchDoctor" asp-controller="Doctor" method="post">
    <input type="text" name="name" />
    <button type="submit" class="btn btn-primary">search</button>
</form>


<div id="map"></div>


<div class="contentWrapper">

    <partial name="DoctorsFiltering" />

    <div class="mainDoctorBlock">

        <div class="adding-updating-forms">
            <partial name="NewDoctorAdding" />

            <partial name="DoctorUpdating" />
        </div>

        @foreach (var doctor in Model)
        {
            <div class="doctor-block">

                <div class="doctor-info">
                    <h4 style="margin: 0; width: 30%">@doctor.FirstName @doctor.LastName</h4>
                    <p style="margin: 0; width: 30%">@doctor.PhoneNumber</p>
                    <p style="margin: 0; width: 30%">@doctor.Speciality</p>
                    <button class="toggle-schedule-btn">>></button>
                    <form asp-action="DelDoctor" asp-controller="Doctor" method="post">
                        <input type="hidden" name="phoneNumber" value="@doctor.PhoneNumber" />
                        <button type="submit" class="toggle-schedule-btn">delete</button>
                    </form>
                </div>

                <div class="schedule-table" style="display: none;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">День недели</th>
                                <th scope="col">Начало работы</th>
                                <th scope="col">Конец работы</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (doctor.Schedule is not null)
                            {
                                foreach (var schedule in doctor.Schedule)
                                {
                                    <form asp-action="DeleteDoctorSchedule" asp-controller="Doctor" method="post">
                                        <input type="hidden" name="phoneNumber" value="@doctor.PhoneNumber">
                                        <input type="hidden" name="DayOfWeek" value="@schedule.DayOfWeek">
                                        <input type="hidden" name="StartTime" value="@schedule.StartTime">
                                        <input type="hidden" name="EndTime" value="@schedule.EndTime">
                                    <tr>
                                        <td>@schedule.DayOfWeek</td>
                                        <td>@schedule.StartTime.ToShortTimeString()</td>
                                        <td>@schedule.EndTime.ToShortTimeString()</td>
                                        <td><button type="submit">del</button></td>
                                    </tr>
                                    </form>
                                }
                            }
                            <form asp-action="UpdateDoctorSchedule" asp-controller="Doctor" method="post">
                                <input type="hidden" name="phoneNumber" value="@doctor.PhoneNumber">
                            <tr>
                                <td>
                                    <select class="form-control" name="DayOfWeek">
                                        <option value="Понеділок">Понеділок</option>
                                        <option value="Вівторок">Вівторок</option>
                                        <option value="Середа">Середа</option>
                                        <option value="Четвер">Четвер</option>
                                        <option value="П'ятниця">П'ятниця</option>
                                        <option value="Субота">Субота</option>
                                        <option value="Неділя">Неділя</option>
                                    </select>
                                </td>
                                <td><input type="time" class="form-control" name="StartTime"></td>
                                <td><input type="time" class="form-control" name="EndTime"></td>
                                <td><button type="submit">add</button></td>
                            </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

</div>



@section Scripts {
    <script>
        $(document).ready(function() {
            $('.toggle-schedule-btn').click(function() {
                $(this).closest('.doctor-block').find('.schedule-table').slideToggle(100);
            });
        });
    </script>

    <script>
        var map = L.map('map').setView([50.436, 30.533], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var marker = null;

        map.on('click', function(event) {
            if (marker !== null) {
                map.removeLayer(marker);
            }
            marker = L.marker(event.latlng).addTo(map);
            var latlng = marker.getLatLng();
            let latinput = document.getElementById("lat");
            let lnginput = document.getElementById("lng");

            latinput.value = latlng.lat;
            lnginput.value = latlng.lng;
            console.log(latlng.lat, latlng.lng);
        });
    </script>
}

