@model List<Patient>

<form asp-action="SearchPatient" asp-controller="Patients" method="post">
    <input type="text" name="name" />
    <button type="submit" class="btn btn-primary">search</button>
</form>

<form asp-action="GetPatients" asp-controller="Patients" method="get">
    <div class="range-slider">
        <label for="minAge">Минимальный возраст:</label>
        <input type="range" id="minAge" name="min" min="@ViewBag.AgeBoundaries.Item1" max="@ViewBag.AgeBoundaries.Item2" step="1">
        <span id="minAgeLabel">0</span>

        <label for="maxAge">Максимальный возраст:</label>
        <input type="range" id="maxAge" name="max" min="@ViewBag.AgeBoundaries.Item1" max="@ViewBag.AgeBoundaries.Item2" step="1">
        <span id="maxAgeLabel">100</span>
    </div>
    <button type="submit" class="btn btn-primary">search</button>
</form>

<div class="adding-updating-forms">
    <partial name="PatientUpdating" />

    <partial name="NewPatientAdding" />
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Возраст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.Age</td>
                <td>
                <form asp-action="DelPatient" asp-controller="Patients" method="post">
                    <input type="hidden" name="phoneNumber" value="@patient.PhoneNumber" />
                    <button type="submit" class="toggle-schedule-btn">delete</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>
